// Variable overrides
:root {
    --background-color-primary: #fff;
    --text-primary-color: #000;
    --text-gray-color: #b7b7b7;
    --border-color: #d8dbe8;
    --border-color-d9: #d9d9d9;
    --element-size: 4rem;
    --link-color: #6D57E4;
    --background-gray-section: #EBEBEB;
    --background-light: rgba(109, 87, 228, .12);
    --text-tab-gray: #b9b9b9;
    --menu-background: #f9f8ff;
    --text-gray: #2C384A;
    --category-btn-background: #f9f8ff;
    --light-50: #c3dffa;
  }
  :root.dark-theme {
    --background-color-primary: #292a2d;
    // --background-color-primary: #000;
    --text-primary-color: #fff;
    --text-gray-color: #f8f8f8;
    --border-color: #d8dbe8;
    --link-color: #9b8af3;
    --background-gray-section: #292a2d;
    --text-tab-gray: rgba(255,255,255,.5) ;
    --menu-background: #ebe9fb;
    --border-color-d9: #444;
    --text-gray: #fff;
    --category-btn-background: rgba(0,0,0,.5);
  }
  .theme-color {
    color :var(--link-color);
  }
