//If you want to override variables do it here
$enable-deprecation-messages: false;

@import "@coreui/coreui/scss/_functions";
@import "@coreui/coreui/scss/_variables";
@import "@coreui/coreui/scss/_mixins";
@import "@coreui/coreui/scss/coreui";
// $ignore-warning: true;
@import "@coreui/coreui/scss/mixins/_alert.scss";


@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles
// @import "@coreui/coreui/scss/coreui";
// @import "@coreui/coreui/scss/coreui-variables";
// @import "bootstrap/scss/functions";
// @import "@coreui/coreui/scss/variables";
// @import "@coreui/coreui/scss/mixins";

// Import Chart.js Tooltips
// @import "@coreui/chartjs/scss/tooltips";

@import "layout";
@import "example";

// If you want to add something do it here
@import "dark";
@import "sidebar";
@import "custom";

